* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 18px;
    color: hsla(229, 31%, 21%, 0.596);
    font-family: 'Rubik', sans-serif;
}

.nav-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 60px 0px;
    max-width: 1400px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.nav-links {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 32px;
    font-size: 14px;
    font-weight: bold;
}

.single-nav-link {
    cursor: pointer;
    transition: all 300ms ease;
}

.single-nav-link:hover {
    opacity: 0.7;
}

.logo-wrapper {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.btn {
    border: none;
    cursor: pointer;
    padding: 10px 30px;
    border-radius: 5px;
    color: hsl(0, 0%, 97%);
    transition: all 300ms ease;
    font-weight: bold;
}

.btn:hover {
    background-color: transparent;
}

.red-btn {
    background-color: hsl(0, 94%, 66%);
}

.red-btn:hover {
    border: 1px solid hsl(0, 94%, 66%);
    color: hsl(0, 94%, 66%);
}

.all-section {
    max-width: 1400px;
    margin-left: auto;
    margin-right: auto;
}

.hero-section {
    width: 100%;
    padding: 60px 0px 0px 0px;
    position: relative;
}

.container{
    max-width: 1400px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.hero-left {
    max-width: 504px;
}

.hero-buttons {
    margin-top: 32px;
    display: flex;
    align-items: center;
    gap: 16px;
}

.hero-left p{
    margin-top: 32px;
}

.hero-left h1{
    color: hsl(229, 31%, 21%);
    font-size: 44px;
}

.blue-btn {
    background-color: hsl(231, 69%, 60%);
}

.blue-btn:hover {
    border: 1px solid hsl(231, 69%, 60%);
    color: hsl(231, 69%, 60%);
}

.grey-btn {
    background-color: hsl(0, 0%, 97%);
    color: hsla(229, 31%, 21%, 0.596);
}

.grey-btn:hover {
    border: 1px solid hsla(229, 31%, 21%, 0.596);
    color: hsla(229, 31%, 21%, 0.596);
}


.img-background {
    background-color: hsl(231, 69%, 60%);
    height: 300px;
    width: 500px;
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -1;
    border-radius: 0px 0px 0px 50%;
}

.features-heading {
    max-width: 537px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

h2 {
    color: hsl(229, 31%, 21%);
    font-size: 32px;
    margin-bottom: 24px;
}


.features-bar {
    max-width: 800px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 36px;
}

.features-links {
    display: flex;
    align-items: center;
    justify-content: center;
}

.features-line {
    height: 1px;
    width: 100%;
    background-color: hsla(229, 31%, 21%, 0.596);
}

.single-feature {
    width: 33.33%;
    text-align: center;
    font-weight: bold;
    cursor: pointer;
}

.single-feature.clicked {
    color: hsl(229, 31%, 21%);
}

.single-feature p {
    transition: all 300ms ease;
}

.single-feature p:hover {
    color: hsl(0, 94%, 66%);
}

.red-line {
    opacity: 0;
    height: 3px;
    width: 100%;
    margin-top: 16px;
    background-color: hsl(0, 94%, 66%);
}

.red-line.clicked {
    opacity: 1;
}

.features-content {
    margin-top: 72px;
    max-height: 352px;
    height: 100%;
}

.features-right {
    width: 50%;
    text-align: left;
}

.features-right p {
    margin-bottom: 24px;
}

.features-text-wrapper {
    max-width: 450px;
}

.features-img-background {
    height: 300px;
    width: 700px;
    position: absolute;
    right: unset;
    bottom: 0;
    left: 0;
    z-index: -1;
    border-radius: 0px 50% 50% 0px;
}

.features-section {
    padding: 0px 0px 60px 0px;
    position: relative;
}

.download-heading {
    max-width: 537px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-bottom: 32px;
}

.download-section {
    padding: 60px 0px;
}

.single-download {
    max-width: 280px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px 20px;
    box-shadow: 0 4px 20px 0 hsla(229, 31%, 21%, 0.363);
    border-radius: 15px;
    position: relative;
}

#line-img {
    position: absolute;
    bottom: 90px;
    width: 100%;
}

.single-download .logo{
    max-width: 102px;
    max-height: 100px;
}

.single-download h3 {
    color: hsl(229, 31%, 21%);
    margin-top: 24px;
}

.single-download p {
    margin-bottom: 32px;
}

.single-download button {
    margin-top: 24px;
}

.download-content {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;
    gap: 32px;
}

#chrome-card {
    margin-top: 0px;
}

#firefox-card {
    margin-top: 64px;
}

#opera-card {
    margin-top: 128px;
}

.faq-section {
    padding: 60px 0px;
}

.faq-heading {
    max-width: 537px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-bottom: 32px;
}

.faq-container {
    max-width: 600px;
    flex-direction: column;
}

.question {
    color: hsl(229, 31%, 21%);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 20px;
}

.single-question {
    width: 100%;
    border-bottom: 1px solid hsla(229, 31%, 21%, 0.363);
    padding: 20px 0px;
    cursor: pointer;
}

#first-question {
    border-top: 1px solid hsla(229, 31%, 21%, 0.363);
}

.answer {
    max-height: 0px;
    overflow: hidden;
    transition: all 200ms ease;
}

.answer.clicked {
    max-height: 200px;
}

.arrow-img {
    transition: all 200ms ease;
}

.arrow-img.clicked {
    transform: rotate(180deg);
}

#faq-btn {
    margin-top: 64px;
}

.cta-section {
    background-color: hsl(231, 69%, 60%);
    color: white;
    padding: 60px 0px;
}

.cta-section h2 {
    color: white;
}

.cta-container {
    flex-direction: column;
    gap: 32px;
    max-width: 437px;
}

.cta-heading-wrapper {
    width: 100%;
    text-align: center;
}

.cta-subtitle {
    letter-spacing: 6px;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 14px;
}

.cta-form {
    display: flex;
    gap: 16px;
    width: 100%;
}

.cta-form input {
    width: 60%;
    border-radius: 5px;
    border: none;
    padding: 10px;
}

.footer {
    background-color: hsl(229, 31%, 21%);
    padding: 30px 0px;
}

.footer-logo {
    display: flex;
    align-items: center;
    gap: 8px;
    font-weight: bold;
    color: white;
}

.footer-logo-wrapper{
    width: 32px;
    height: 32px;
}

.footer-logo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: left;
}

.single-footer-link {
    color: white;
    font-size: 14px;
    cursor: pointer;
    opacity: 1;
    transition: all 300ms ease;
}

.single-footer-link:hover {
    opacity: 0.7;
}

.footer-left {
    width: 50%;
    display: flex;
    align-items: center;
    gap: 44px;
}

.footer-right {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: right;
    gap: 32px;
}

.attribution {
    color: white;
    text-align: center;
    margin-top: 32px;
}